API_ID=39099055
API_HASH=a359c570e96de41ec744d71b494fcb14
BOT_TOKEN=8980502774:AAG99vgTAKTeG6kt4Qrl_ydUvKJCZ1TunTc
MONGO_URL=mongodb+srv://asur:asur@cluster0.q9v60fb.mongodb.net/yukki?retryWrites=true&w=majority
LOGGER_ID=-1003099634050
OWNER_ID=6158836385
SESSION=BQJUmq8AjgXdI0-SCBX9Z9i3au3aOyV0ESXdsd9JahZG-U7oo3DWkBbdRow5azKd4ucPh4RNP1TS1rSQ1gKfzZ3Hlpm2_Yd_QKloUgpD1powC7g93W1K0bmDS_zbR99LALzks-mdbiLrIhZbuJJSpjVZHeZqQZpUYW6oTw8hKKsDzh0O9O76HIa0kPuPcWTaAXtnOUFN8El1-R4x1ufKKhfoDslSH3NhoiC8RET3_JthhifGUNxt7U2g4pXbpyn1dgzagJ_pmw8xwbsCWFFFR3oOek7P5911wzA8fGT0W_uB6vk
