API_ID=39099055
API_HASH=a359c570e96de41ec744d71b494fcb14
BOT_TOKEN=8980502774:AAG99vgTAKTeG6kt4Qrl_ydUvKJCZ1TunTc
MONGO_URL=mongodb+srv://asur:asur@cluster0.q9v60fb.mongodb.net/yukki?retryWrites=true&w=majority
LOGGER_ID=-1003099634050
OWNER_ID=6158836385
SESSION=BQJUmq8AQqbug3jsEtd9yCCsgwwlOFrpGnykphNEi65Luwrdz9Soyeyul-XHw9uZiheW7ktozQzA8Q5zsqwuGmG_1J-TP2bwV9_Iv_pEiK4DUzuiYumFHXWo0vludhw21Z0M0Fc5eC4y_H8zsO5tmtouncDzfcIJZeaoKxeQpAMLQWVgJkTUqxTm5eGtA-7YVaaKIqQGTmJEmFh_AMj1wuVbg1EhJ1KkjXmpBqJYVTB_mUYpRboshcvNK5-9zql9CQXSRSIa5WQXR8knboUhYlpu-nPZHqBZs977RZrRWL9lIaqmwEAjZI3wBwW715fv9PAt2ioCzfq65K__ZkNPwNfHwP7HewAAAAFvGGKhAA
