API_ID=39099055
API_HASH=a359c570e96de41ec744d71b494fcb14
BOT_TOKEN=8980502774:AAG99vgTAKTeG6kt4Qrl_ydUvKJCZ1TunTc
SESSION=BQJUmq8ABwZReCZdkRJZEVERNbHcw8hxQPZdy317Q5hVkJIzW0KE3qN1TUye8iDNRRmlguditBaWVoTOa1pIue6itMP8CjbaayLBjKtsJ0RfN0VVLITmfIWh5Bgd3Gk6nCLieV6xu2S04q0ImkyhptxPfuPBHjYekKKOocn-FVEeshMK6t1ppG_4UzIEXmhNZNwmkGNRUWhKdU96fDNB8ODxpc62GOqU068Pd83NoKvdaQ4My3CyrT0ubi8C0xdpV2zGpTcJ_2bON4rTVxnCHJJwrBRplgNpAbq4ap3PhPQ6GFTU-bgucDmD70WYprWYLLOUoXFI33BZdv_ZmlNrPsJ8cwScoAAAAAFvGGKhAA
MONGO_DB_URI=mongodb+srv://asur:asur@cluster0.q9v60fb.mongodb.net/yukki?retryWrites=true&w=majority
LOG_GROUP_ID=-1003099634050
MUSIC_BOT_NAME=asur
